<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <add key="api-url" value="http://gpstrackingsystem.herokuapp.com/"/>
      <add key="socket-url" value="ws://gpstrackingsystem.herokuapp.com/ws/websocket"/>
    </appSettings>
</configuration>